.Contact {
    display: flex;
    flex-flow: row;
    /* box-sizing: border-box;  */
    width: calc(100% + 2px);
    padding-left: 16px;
    padding-top: 10px; 
    border-top: 1px solid rgb(48, 51, 54);
    align-items: center;
    cursor: pointer;
    overflow-y: scroll;
    text-transform: capitalize;
    transition: all .3s;
}
.Contact:hover {
    background-color: rgb(244, 245, 245);
    cursor: pointer;
}

.Active{
    background-color: #E9EBEB;
    cursor: pointer;
}
.ImageContainer {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px; 
}

.Contact div {
    display: flex;
    flex-flow: column;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}
.FloatedRight {
    display: flex;
    flex-flow: column;
    margin-right: 9px;
    text-align: right;
    position: relative;
}

.FloatedRight i {
    opacity: 0;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    width: 1.4rem;
    transition: opacity .2s;
}
.Contact:hover .FloatedRight i {
    opacity: 1;
}