.Navbar {
  width: 100%;
  /* position: fixed;
  /* top: 0;
  left: 0; */
  z-index: 3;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 2px 3px #ccc;
  display: flex;
  align-items: center;
  /* position: relative;
  z-index: 59999; */ 
}

.Navbar ul {
  width: 100%;
  /* position: absolute; */
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 20px 0;
  background: #00BFA5;
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  text-align: center;
  display: block;
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
}
ul li:last-child {
  list-style: none;
  text-align: center;
  display: block;
  border: none;
}

ul li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0 50px;
  display: block;
  transition: 0.5s;
}

ul li a:hover {
  color: white;
  text-decoration: none;
  padding: 0 50px;
  display: block;
}

ul li a .navIcon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 10px;
}

ul li a .navIcon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 34px;
  transition: 0.5s;
  color: rgb(150, 10, 127);
}

ul li a:hover .navIcon .fa {
  transform: translateY(-100%);
}

ul li a .navIcon .fa:last-child {
  color: #fff;
}

ul li a .NavItem {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
}
 .Brand {
  font-size: 1.2em;
  font-weight: 700;
}