.EditableDiv {
    padding: 20px;
    width: 80%;
}
.ContentEditable:empty:not(:focus)::before {
    content: attr(placeholder);
    font-size: 14px;
    margin-top: 5px;
}

.Title {
    color: #1ECD97
}

.ContentEditable {
    outline: none;
    margin-right: 6px;
    width: 100%;
}

.Container {
    display: flex;
    align-items: center;
}