.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    /* font: inherit; */
    font-family: Georgia,"Times New Roman",Times,serif;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border-radius: 4px;
    font-size: 15px;
    color: #8a97a0;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: salmon;
}